
/*Colors:

BG dark-grey: rgb 23 21 24
Yellow-dark: rgb 214 168 46
Yellow-ligth: rgb 225 186 67
Blue-dark: 28 54 77
Blue-ligth: 87 164 174
Brown-d: 104 77 48
Brown-hight: 212 144 79
Brown-m: 152 117 87
Brown-ligth: 222 215 171 */

