
/*Colors:

BG dark-grey: rgb(60, 60, 60)
Yellow-dark: rgb(214, 168, 46)
Yellow-ligth: rgb(252, 218, 118)
Blue-dark: rgb(28, 54, 77)
Blue-ligth: rgb(87, 164, 174)
Brown-d: rgb(104, 77, 48)
Brown-hight: rgb(212, 144, 79)
Brown-m: rgb(152, 117, 87)
Brown-ligth: rgb(222, 215, 171) */

